.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 520px;
    margin: 15px;
    box-shadow: none !important;
    /* -webkit-box-shadow: 5px 4px 6px 3px #00000079 !important; 
    box-shadow: 5px 4px 6px 3px #0000007e !important; */
}

.cardMedia{
    /* margin-top: 10px; */
    height: 400px;
    object-fit:cover;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(163, 163, 163) !important;
}

.MuiCardContent-root{
    padding: 0px !important;
}

.typography{
    font-size: 17px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(253, 253, 253);
}

.typography_description{
    height: 30px;
}

.typography_price{
    height: 20px;
}