.card{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 320px;
    margin: 30px;
    box-shadow: none !important;
    /* -webkit-box-shadow: 5px 4px 6px 3px #00000079 !important; 
    box-shadow: 5px 4px 6px 3px #0000007e !important; */
}

.cardMedia{
    margin-top: 10px;
    height: 140px;
    object-fit:cover;
}

.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.MuiCardContent-root{
    padding: 0px !important;
}

.typography{
    font-size: 20px !important;
    font-weight: bold !important;
    height: 65px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}